* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Bagian Pertama */
#pertama{
    background: url(Asset/gambar1.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    -moz-background-size:cover ;

    height: 650px;
    padding-top: 20px
}

.clear{
    clear: both;
}

.konten {
    width: 960px;
    margin: 0 auto;
}

.kolom_3 {
    width: 300px;
    float: left;
}

.kolom_3_tengah {
    margin: 0 30px;
}

#logo{
    width: 100px;
    margin: 0 auto;
    display: block;
}

#menu{
    background-color: #0078b9;
    height: 50px;
    list-style: 50px;
    font-size: 20px;
    margin-top: 20px;
}

#menu a {
    display: block;
    text-align: center;
    color: white;
}

#menu a:hover{
    background-color:#2c9ddd ;
}

#box_sd {
    background-color: rgba(44, 155, 221, 0.7);
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 80px 0;
    padding: 20px 0;
}

#box_sd a{
    display: block;
    border: 2px solid white;
    color: white;
    padding: 5px 0;
    width: 300px;
    margin: 25px auto 0 auto;
}

#box_sd a:hover {
    background-color: white;
    color: #0078b9;
}